@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --bg: rgb(235, 234, 236);
  --banner-heading-bg: rgba(236, 235, 237, 0.239);
  --banner-heading-color: rgb(255, 255, 255);
  --header-button-bg: rgb(212, 74, 40, 0.8);
  --header-button-color: rgb(255, 255, 255);
  --header-button-shadow-solid: rgba(255, 196, 0, 0.5);
  --footer-button-bg: rgba(219, 97, 26, 0.8);
  --footer-text-color: rgb(255, 255, 255);
  --footer-text-color-hover: rgb(233, 204, 39);
  --footer-text-color-visited: rgb(187, 187, 187);
  --font: "Poiret One";
}

* {
  font-size: calc(16px / 1.6);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Poiret One";
}

/* Header */
.banner {
  background-image: url("../assets/resturant-pic.jpg");
  background-position: center;
  background-size: cover;
  min-height: calc(250px + 4rem);
  width: 100%;
  font-size: large;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.banner div {
  width: 100%;
}

.banner-name {
  background-image: linear-gradient(var(--banner-heading-bg) 70%, transparent);
  color: var(--banner-heading-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-name h1 {
  font-size: 6rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu button {
  color: var(--header-button-color);
  background-color: var(--header-button-bg);
  box-shadow: 0px -2px 0 1px var(--header-button-shadow-solid) inset;
  min-width: 8em;
  margin: 0 0.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50px;
  transform: scale(1);
  font-family: var(--font);
  font-size: 3rem;
  cursor: pointer;
}

.nav-menu button:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0px -2px 0 1px var(--header-button-shadow-solid) inset;
  transition: transform 0.3 ease-out;
}

.nav-menu button:active {
  transform: scale(1);
  box-shadow: none;
  transition: transform 0.4 ease-out;
}

/* Footer */
footer {
  background-color: var(--footer-button-bg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p,
footer a {
  font-size: 3rem;
  font-weight: 700;
}
footer a {
  text-decoration: none;
  color: var(--footer-text-color);
}
.material-symbols-outlined {
  position: relative;
  top: 50%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
footer a:visited {
  color: var(--footer-text-color-visited);
}
footer a:hover {
  color: var(--footer-text-color-hover);
}
